.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
        "wdth" 100;
}
.bg-cl{
    background-color: #F1F1F3;
    margin-top: 40px;
    margin-right: 160px;
    margin-left: 160px;
}
/* header style*/
.header{
    background-color: #C6E4D6;
    border-radius: 5px;
}
.dark-2{
    color: #0E0E0E;
}
/* button style*/
.btn-primary{
    background-color:#018365;
    font-weight: 500;
    font-size: 15px;
    border: none;
    color: white;
    padding: 20px 35px;
    border-radius: 5px;
}
.btn-1{
    background-color:#5490F5;
    font-weight: 500;
    font-size: 15px;
    border: none;
    color: white;
    padding: 20px 35px;
    border-radius: 5px;
}
.btn-2{
    background-color:#09A15C;
    font-weight: 500;
    font-size: 15px;
    border: none;
    color: white;
    padding: 20px 35px;
    border-radius: 5px;
    
}
.btn-3{
    background-color:#FFC239;
    font-weight: 500;
    font-size: 15px;
    border: none;
    color: white;
    padding: 20px 35px;
    border-radius: 5px;
}
/*banner style*/
.banner{
    display: flex;
    justify-content:space-between;
    margin: 117px 59px;
}
.banner-content{
    max-width:622px;
}
.banner-gritings{
    font-size: 18px;
    font-weight: 300;
}
.banner-title{
    font-size: 75px;
    font-weight: 500;
}
.banner-profil{
    width: 474px;
    height:400px;
}
/*skill container style*/
.skill-container{
    display: flex;
    gap: 24px;
}
.skill-1{
    padding: 32px;
    background-color:#A3C4FB;
    border-radius: 5px;
}
 .skill-2{
    padding: 32px;
    background-color: #C6E4D6;
    border-radius: 5px;
 }
 .skill-3{
    padding: 32px;
    background-color: #F7EBCF;
    border-radius: 5px;
 }
 /* photo and box style */
 .first-box{
    display: flex;
    gap: 32px;
    padding: 48px;
    margin-top: 24px;
    border-radius: 10px;
 }
 img{
    border-radius: 10px;
 }
 .bg-color{
    background-color: #FFFFFF;
    border-radius: 5px;
 }
  /*fotter style*/
 .matha{
    text-align: center;
 }
 .parent{
    padding: 25px;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
 }
 .plus{
    background-color: #C6E4D6;
    border: 1px;
        padding: 40px;
        border-radius: 5px;

 }
 .child{ 
        background-color: #FFFFFF;
        border: 1px;
        border-radius: 5px;
        padding: 40px;

 }
 .last{
    text-align: center;
    height: 64px;
    width: 1032px;
    border-radius: 5px;
    border: none;
}
.canter-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}